.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #121212;
  color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.side-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}